.header {
    background: #0078d7;
    color: white;
    display: grid;
    grid-template-columns: 1fr 48px;
    gap: 0% 0px;
    height: 48px;
    align-content: center;
    padding-left: 12px;
}

.profile {
    background: #0078d7;
    height: inherit;
}
.profile.over {
    background: #005a9e;
    cursor: pointer;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.profile-icon {
    border-style: solid;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    margin: 1px 1px;
}

.login-menu {
    width: 250px;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    box-shadow: -3px 4px 4px 1px rgb(0 0 0 / 15%);
    pointer-events: none;
    opacity: 0;
    padding: 15px;
    transition: 0.2s;
}
.login-menu.active {
    opacity: 1;
    pointer-events: all;
}

.login-stage {
    display: none;
    pointer-events: none;
}
.login-stage.active {
    display: block;
    pointer-events: all;
}
.login-stage.active button {
    margin: 3px;
}

.logout-stage {
    display: none;
    pointer-events: none;
}
.logout-stage.active {
    display: block;
    pointer-events: all;
}
.logout-btn {
    text-align: right;
}
