.taskInput {
    background: #f3f2f1;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
    position: relative;
}
input {
    width: 99%;
    margin: 0 0 10px 0;
}

.name {
    visibility: hidden;
    text-align: left;
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0;
    padding: 0;
}
.name.active {
    visibility: visible;
}

.description {
    visibility: hidden;
    text-align: left;
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 15px;
    margin: 0;
    padding: 0;
}
.description.active {
    visibility: visible;
}